<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxwanghao.rookie.webapp.mapper.TestMapper">
    <sql id="publicColumn">
        id,
        loan_id,
        loan_no,
        real_name,
        id_card,
        pool_id,
        summary,
        loan_amount,
        curr_value,
        curr_capital,
        year_rate,
        invest_term,
        unit_term,
        period_count,
        period_no,
        package_state,
        loan_state,
        repay_way,
        last_repay_day,
        next_repay_day,
        loan_time,
        expiry_day,
        create_time,
        update_time
    </sql>



</mapper>